<h1>About Tuition Buddy</h1><br />
  <p>Created for the open source community.</p><br />

<div class="container-fluid">
  <div class="row">
    <h3>User Flow</h3>
      <p>Users can create an account and submit reimbursement requests. They can also view their request history. The user role is assigned by default to all users.</p>
  <br />
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h3>Admin Flow</h3>
      <p>Admins can view and edit all user profiles and requests. The admin role can only be assigned through the console.</p>
    </div>
</div>
