<h1>About Tuition Buddy</h1>
  <p>Created for the open source community.</p>

<div class="container">
  <div class="col">
    <h6>User Flow<h6/>
      <p></p>
  </row>
  <div class="col">
    <h6>Admin Flow<h6/>
      <p></p>
  </row>
</div>
