<br>
<div class="jumbotron">
  <h1>Welcome to Tuition Buddy!</h1>
    <p>Your open source solution for tuition management.</p>
    <%= link_to "Register", new_user_path, class: 'btn btn-primary' %> here!
</div>
