<br>
<div class="jumbotron">
  <h1>Welcome to Tuition Buddy!</h1>
    <p>Your open source solution for tuition management.</p>
    <% unless user_signed_in? %>
      <%= link_to "Register", new_user_path, class: 'btn btn-primary' %> here!
    <% end %>
</div>
<div class="container">

  <div class="row">
    <h3>Get started here!</h3>
    <p>Use this link to go to student profiles. Users have access to their personal profile only. Admins have access to all user profiles.</p><br />
    <%= link_to "View Profile", user_path(current_user), class: 'btn btn-primary' %>
  </div><br />
  <div class="row">
    <h3>Want to learn more?</h3>
    <p>For more information about the user vs. admin workflows, go to the <a href="about">About</a> page.</p>
  </div>
</div>
