<br>
<div class="jumbotron">
  <h1>Welcome to Tuition Buddy!</h1><br />
    <p>Your open source solution for tuition management.</p><br />
    <% unless user_signed_in? %>
      <%= link_to "Register", new_user_path, class: 'btn btn-primary' %>
    <% end %>
</div>
<div class="container-fluid">

  <div class="row">
    <h4>Background</h4>
    <p>Tuition Buddy grew out of professional challenges I faced in the nonprofit sector. Hours of busywork could have been saved but software was financially out of reach. Tuition Buddy was the software I wish I had. There's a lot more in store for this project so stay tuned! </p>
  </div><br />
  <div class="row">
    <h4>Features</h4>
    <ul>
      <li>Admins can view all users and all requests.</li>
      <li>Admins can edit and delete requests.</li>
      <li>Users can create a profile and view their request history.</li>
      <li>Users can submit requests.</li>
      <!--review describe more features-->
    </ul>
  </div><br />
  <div class="row">
    <h4>Want to learn more?</h4>
    <p>Go to the <a href="about">About</a> page for more information about the user and admin work flows.</p>
  </div>
</div>
